.header {
  width: 100%;
  padding-top: 92px;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  padding-right: 53px;
}

.header-nav {
  margin-right: 45px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: circle;
}

.header-nav-list-item:first-child {
  list-style: none;
}

.header-nav-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 3px;
}

.header-nav-link-active {
  text-decoration: none;
}

.header-logo-link {
  margin-right: auto;
}

.header-logo {
  width: 129.11196899414062px;
  height: 104.6517562866211px;
}

.addres-group {
  max-width: 236px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
  font-style: normal;
}

.promo-section {
  width: 100%;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  background: url(../images/lotus-flower.jpg);
  min-height: 757px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 180px;
  z-index: 1;
}

.promo-section-left-word {
  letter-spacing: 30px;
}

.promo-section-heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding-bottom: 106px;
}

.promo-section-center-word {
  letter-spacing: 29px;
  margin-left: 30px;
  text-align: center;
}

.promo-section-right-word {
  margin-right: -24px;
  letter-spacing: 28px;
  text-align: right;
}

.promo-section-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-section-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 18px;
}

.promo-section-white-space {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%;
  text-transform: uppercase;
  letter-spacing: 19.2px;
}

.promo-section-btn {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: none;
  border: 1px #ffffff solid;
  color: white;
}

.sup-heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-section {
  padding-left: 22px;
  padding-right: 22px;
}

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0;
  list-style: none;
}

.card {
  position: relative;
  width: 100%;
  min-height: 596px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(../images/card-lot-01.jpg);
}

.card-wrapper-link {
  text-decoration: none;
}

.card-text-heading {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  padding-left: 2px;
  text-underline-offset: 4px;
}

.card-heading {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.overlay {
  z-index: 1;
}

.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.card * {
  position: relative;
  z-index: 2;
}

.lots-section-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin-left: 40px;
  margin-top: 32px;
  display: block;
  text-underline-offset: 4px;
}

.auction-section {
  display: flex;
  align-items: flex-start;
  gap: 72px;
  margin-bottom: 320px;
  padding-left: 71px;
  /*padding-right: 24px;*/
  margin-top: 156px;
  margin-bottom: 183px;
}

.auction-section-logo {
  width: 240px;
  height: 240px;
}

.auction-section-heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 105px;
  margin-bottom: 107px;
}

.auction-section-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 700px;
  margin-top: 27px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
}

.footer .addres-group {
  max-width: 237px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin-left: 190px;
}

.footer-nav-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  line-height: 22px;
}
.footer-nav-link-active {
  text-decoration: none;
}

.footer-socials {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 48px;
}

.footer-socials-link {
  width: 48px;
  height: 48px;
}
